style.css



  
a.navbar-brand{
	margin-left: 10px;
	padding: 10px;
	background-color: rgb(89, 105, 105);
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
  }
  
  
  h3{
	color: rgb(31, 11, 105);
	padding: 10px;
  }
  
  .img-thumbnail{
	padding:5px;
	margin:5px;
	border: solid rgb(0, 0, 0);
  }
  
  
  
  
  p{
   color:rgb(42, 0, 231);
   font-size: large;
   padding:10px;
  }
  
  
  body{
	background-color: rgb(159, 170, 170);
  }
  .col-md-12{
	background-color: rgb(207, 207, 207);
	padding-top: 20px;
	padding-bottom:40px;
  }
  
  
  .highlight{
	border: 3px solid rgb(188, 233, 85);
  }
  
  .navbar{
	padding-top:0px;
	padding-bottom: 0px;
	padding-right:40px;
	background-color:rgb(123, 145, 145);
  }
  
  .nav-item.dropdown.show {
	background-color: rgb(209, 105, 105);
  }
  
  .dropdown-menu {
	margin: 0;
  }
  
  
  .content {
	padding-top: 50px;
	padding-bottom: 80px;
	overflow: hidden;
  }
  
  .content.bg-white {
	margin-top: 15px;
  }
  
  @media(max-width:767px){
	.navbar.bg-dark{
		background-color: rgb(189, 192, 192)!important;    
	}
  
	.navbar-collapse{
		background-color: #2d2f31;
	}
	.navbar{
		padding:inherit;
	}
  }