style.css



  
a.navbar-brand{
	margin-left: 10px;
	padding: 10px;
	background-color: rgb(78, 138, 138);
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
  }
  
  
  h3{
	color: lightskyblue;
	padding: 10px;
  }
  
  .img-thumbnail{
	padding:5px;
	margin:5px;
	border: solid rgb(0, 0, 0);
  }
  
  
  
  
  p{
   color:rgb(218, 11, 11);
   font-size: large;
   padding:10px;
  }
  
  
  body{
	background-color: rgb(181, 202, 202);
  }
  .col-md-12{
	background-color: gray;
	padding-top: 20px;
	padding-bottom:40px;
  }
  
  
  .highlight{
	border: 3px solid rgb(188, 233, 85);
  }
  
  .navbar{
	padding-top:0px;
	padding-bottom: 0px;
	padding-right:40px;
	background-color:rgb(63, 114, 114);
  }
  
  .nav-item.dropdown.show {
	background-color: rgb(209, 105, 105);
  }
  
  .dropdown-menu {
	margin: 0;
  }
  
  
  .content {
	padding-top: 50px;
	padding-bottom: 80px;
	overflow: hidden;
  }
  
  .content.bg-white {
	margin-top: 15px;
  }
  
  @media(max-width:767px){
	.navbar.bg-dark{
		background-color: rgb(44, 46, 46)!important;    
	}
  
	.navbar-collapse{
		background-color: #2e4f70;
	}
	.navbar{
		padding:inherit;
	}
  }